@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-bg::before {    
    content: "";
    background-image: url(wallpaper.jpg);
    background-size: cover;
    position: absolute;
    opacity: 0.1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

@keyframes pounding {
    from{font-size: 50px;}
    to{font-size: 60px;}
}

.border-name{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: orange;
    width: fit-content;
    box-shadow: 3px 4px purple;
}

.name{
    background-image: url('namebg.jpg');
    font-family: 'Supermercado One', cursive;
    color: orange;
    font-size: 50px;
    opacity: .8;
    text-shadow: 3px 4px purple;
    transition: 1s;
    animation-name: pounding;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.name:hover{
    font-size: 55px;
    opacity: 1;
}

.navigation{
    border-radius: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 105px;
    opacity: .8;
    background-image: url(namebg.jpg);
    border-style: solid;
    border-color: orange;
    box-shadow: 3px 4px purple;
    width: 100px;
    height: calc(100vh - 95x);
    transition: 0.5s;
    overflow: hidden;
}

.navigation:hover{
    opacity: 1;
    width: 500px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 30px;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    transition: 0.5s;
}

.navigation ul li:hover{
    background-color: purple;
    opacity: .8;
    border-radius: 10px;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    display: flex;
    color: orange;
    text-shadow: 2px 2px purple;
    font-family: 'Supermercado One', cursive;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 100px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon{
    font-size: 30px;
}

.navigation ul li a .title{
    font-size: 50px;
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.nav-main{
    border-radius: 10px;
    position: fixed;
    top: 0;
    border-color: orange;
    background-repeat: no-repeat;
    background-size: 100%;
    border-style: solid;
    box-shadow: 3px 4px purple;
    height: 100px;
    width: 100px;
    background-color: orange;
    z-index: 1000;
    transition: 0.5s;
    margin-bottom: 5px;
    cursor: pointer;
}

.nav-main:hover{
    border-color: purple;
    background-color: purple;
    box-shadow: 3px 4px orange;
}

.nav-btn-toggle{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: purple;
    z-index: 1000;
}