@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-bg::before {    
    content: "";
    background-image: url(wallpaper.jpg);
    background-size: cover;
    position: absolute;
    opacity: 0.1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.border-name{
    bottom: 0;
    right: 0;
    margin: 10px;
    position: absolute;
    border-style: solid;
    border-color: orange;
    width: fit-content;
    box-shadow: 3px 4px purple;
}

#name{
    background-image: url('namebg.jpg');
    font-family: 'Supermercado One', cursive;
    color: orange;
    font-size: 50px;
    opacity: .8;
    text-shadow: 3px 4px purple;
    transition: 1s;
    text-decoration: none;
}

#name:hover{
    font-size: 51px;
    opacity: 1;
}

.navigation{
    opacity: .8;
    background-image: url(namebg.jpg);
    border-style: solid;
    border-color: orange;
    box-shadow: 3px 4px purple;
    position: fixed;
    width: 100px;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
}

.navigation:hover{
    opacity: 1;
    width: 500px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 30px;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover{
    background-color: purple;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    display: flex;
    color: orange;
    text-shadow: 2px 2px purple;
    font-family: 'Supermercado One', cursive;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 100px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon{
    font-size: 30px;
}

.navigation ul li a .title{
    font-size: 50px;
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}